services:
  db:
    image: postgres:14.1-alpine
    container_name: innsending-api-db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5450:5432'
    volumes:
      - db:/var/lib/postgresql/data

  innsending-api:
    depends_on:
      - db
    container_name: innsending-api
    mem_reservation: 4000M
    build:
        dockerfile: DockerfileDev
    ports:
        - "9064:9064"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DATABASE_PORT: 5432
      DATABASE_HOST: db

volumes:
  db:
    driver: local
