<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
		</encoder>
	</appender>

	<!-- Turn off irrelevant pdfbox logging -->
	<logger name="org.apache.fontbox.ttf.CmapSubtable" level="off"/>
	<logger name="org.apache.fontbox.ttf.GlyphSubstitutionTable" level="off"/>
	<logger name="org.apache.pdfbox.pdmodel.font.FileSystemFontProvider" level="off"/>
	<logger name="org.apache.fontbox.cff.Type1CharString" level="off"/>

	<root level="INFO">
		<appender-ref ref="STDOUT_JSON"/>
	</root>
</configuration>
