name: Build-Deploy-Main-Pipelines
on:
  workflow_call:
  push:
    branches:
      - 'main'
    paths-ignore:
      - '**.md'
      - '**/**.md'

jobs:
  build-and-push:
    permissions:
        contents: "write"
        id-token: "write"
    name: Build and push Docker container prod
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'maven'

      - name: set timezone
        uses: szenius/set-timezone@v1.2
        with:
          timezoneLinux: "Europe/Oslo"
      - name: Build with maven
        run: mvn install --file pom.xml

      - name: Dependency submission (for dependabot)
        uses: advanced-security/maven-dependency-submission-action@v3

      - name: Build and push Docker image
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
            team: team-soknad
            identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
            project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
            image_suffix: prod
            byosbom: target/bom.json
    outputs:
        image: ${{ steps.docker-build-push.outputs.image }}

  deploy-prod:
    name: Deploy to prod
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: prod-gcp
          RESOURCE: .nais/nais-gcp.yml
          VARS: .nais/prod-gcp.json
          VAR: image=${{needs.build-and-push.outputs.image}}
          DRY_RUN: false

  deploy-alerts-prod:
    needs: deploy-prod
    name: Deploy alerts to prod
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Deploy to prod
        uses: nais/deploy/actions/deploy@v2
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: prod-gcp
          RESOURCE: .nais/alerts.yml
          VARS: .nais/prod-alert.json
