name: Build-Deploy-Main-Pipelines
on:
  workflow_call:
  push:
    branches:
      - 'main'
    paths-ignore:
      - '**.md'
      - '**/**.md'

permissions:
  contents: "write"
  id-token: "write"

jobs:
  build-and-push:
    name: Build and push Docker container prod
    runs-on: ubuntu-latest-8-cores
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'maven'

      - name: set timezone
        uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: "Europe/Oslo"
      - name: Build with maven
        env:
          GITHUB_NAV_TOKEN: ${{ secrets.READER_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN}}
        run: mvn install --settings maven-settings.xml --file pom.xml

      - name: Dependency submission (for dependabot)
        uses: advanced-security/maven-dependency-submission-action@v5

      - name: Build and push Docker image
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
            team: team-soknad
            identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
            project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
            image_suffix: prod
            byosbom: target/classes/META-INF/sbom/application.cdx.json
    outputs:
        image: ${{ steps.docker-build-push.outputs.image }}

  deploy-prod:
    name: Deploy to prod
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: .nais/nais-gcp.yml
          VARS: .nais/prod-gcp.json
          VAR: image=${{needs.build-and-push.outputs.image}}

  deploy-loadtests:
    name: Deploy to loadtests
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/nais-gcp.yml
          VARS: .nais/preprod-loadtests.json
          VAR: image=${{needs.build-and-push.outputs.image}}
