name: Run e2e tests

on:
  pull_request:

jobs:
  run-e2e-tests:
    runs-on: ubuntu-latest-8-cores
    steps:
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - name: 'Build arkiv-mock'
        uses: navikt/archiving-infrastructure/.github/checkout-and-build@main
        with:
          component_name: arkiv-mock
          branch: feature/no-login
        env:
          GITHUB_NAV_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: 'Build soknadsmottaker'
        uses: navikt/archiving-infrastructure/.github/checkout-and-build@main
        with:
          component_name: soknadsmottaker
        env:
          GITHUB_NAV_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: 'Build soknadsarkiverer'
        uses: navikt/archiving-infrastructure/.github/checkout-and-build@main
        with:
          component_name: soknadsarkiverer
        env:
          GITHUB_NAV_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: 'Build innsending-api (this PR)'
        uses: navikt/archiving-infrastructure/.github/checkout-and-build@main
        with:
          component_name: innsending-api
          branch: ${{ github.head_ref }} # Branch of current PR
        env:
          GITHUB_NAV_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: 'Run e2e tests'
        uses: navikt/archiving-infrastructure/.github/checkout-and-build@main
        with:
          component_name: archiving-infrastructure
          branch: feature/nologin
          sub_directory: system-tests
          skip_tests: false
          run_docker_build: false
